---
title: きものを仕立て直す
description: 寸法の合わなくなったきものを仕立て直して蘇らせましょう
main_visual: '/images/s/shitatenaosu-jumbotron-P1060757-P1070201-{width}{pixel_ratio}.jpg'
snipet_1st: きものを洗い張りして
snipet_2nd: 仕立て直します
layout: category-article
category: 'きものの再生事例'
order: 20
carousel:
    - title: きものを着る
      description: 背中心を合わせ、きものを着ます。<br xmlns="http://www.w3.org/1999/html">少し小さめのきものの方が測りやすいです。
      image: /images/s/shitatenaosu-sunpou1-DSC08418-{width}{pixel_ratio}.JPG
    - title: 裄を測る
      description: まずは理想の裄を測りましょう。<br>手をおろした状態で、くるぶしがギリギリ隠れるくらいの長さを測ってください。
      image: /images/s/shitatenaosu-sunpou2-DSC08381-{width}{pixel_ratio}.JPG
    - title: 身巾を測る
      description: 次に身巾を測ります。<br>きものが脇でちょうど合わさるまでの長さを測ってください。
      image: /images/s/shitatenaosu-sunpou3-DSC08384-{width}{pixel_ratio}.JPG
    - title: 褄下を測る
      image: /images/s/shitatenaosu-sunpou4-DSC08414-{width}{pixel_ratio}.JPG
      description: 衿先から裾までの長さを測ります。<br>おはしょりの下から1寸（4cm）程衿が見える長さにします。
    - title: 長襦袢を着る
      description: 次に長襦袢を着ます。<br>だいたいの寸法はきものから割り出しますが、身丈のみ測ります。
      image: /images/s/shitatenaosu-sunpou5-DSC08436-{width}{pixel_ratio}.JPG
    - title: 身丈を測る
      description: あまり長いと着方によって見えてしまうので、少し短めの方がおすすめです。<br>目安としては、前からみて足の甲に乗らないくらいです。
      image: /images/s/shitatenaosu-sunpou6-DSC08395-{width}{pixel_ratio}.JPG
related:
    - title: 洗い張り
      description: だるまやの真髄！<br>洗い張りはこちら。
      link: /maintenance/araihari.html
      image: /images/a/araihari-related-DSC05082-{width}{pixel_ratio}.JPG
    - title: 仕立て
      description: 仕立てはすべて国内手縫いです。<br>仕立てはこちら。
      link: /maintenance/shitate.html
      image: /images/s/shitate-related-DSC05920-{width}{pixel_ratio}.JPG
---
<section>
    <h2>仕立て直しとは？</h2>
    <p>きものは1枚の反物から作られています。<br>
        洋服は型紙に沿って生地を裁断するため、一度仕立ててしまうと生地には戻せませんが、きものは使わなかった部分を切らずに縫い込んであるため、縫い糸を解いて並べ替えるとまた反物に戻せます。<br>
        反物と服を行ったり来たりできることが洋服との決定的な違いです。<br>
        <br>
        一度仕立てた後も、解いて洗い張りをすることで、元の縫い目を消すことができ、次に着る方の寸法に合わせて仕立て直すことができます。<br>
        その際に、胴裏や八掛を取り替えることもできますし、目立つしみはなるべく目立たない場所へ移すこともできます。<br>
        <br>
        きものから別のもの（例えば羽織や帯）に仕立て直すこともできますが、このページでは、最も基本的なきものからきものへの仕立て直しについてご紹介します。<br>
    </p>
</section>

<section>
    <h2>だるまやのこだわり！</h2>
    <h3>こだわり その1　〜お客様の期待を超える提案〜</h3>
    <p>
        お客様が仕立て直し希望でお持ちになった場合に、お客様の寸法にできるか、洗い張りに耐えられるか、それだけのお金をかける価値があるか、などを正直にお応えします。<br>
        <br>
        また、例えばお客様が「このきものを染め替えできますか？」とお持ちいただいたとします。<br>
        お客様が「染め替えたい」と言われたとしても、「目立つしみがあるから」だったり、少し派手だけど八掛を変えれば地味になる場合もあったりします。<br>
        そのため、いきなり色選びを始めず、まずはお客様が本当は何に困っているのかを聞くことがとても大切です。<br>
        <br>
        お客様がおっしゃる内容をそのまま請けるだけでなく、お客様の本当に困っていることを解決できる提案をいたします。<br>
        <br>
        また、仕立て直しにかかる費用もその場でお見積りいたします。<br>
    </p>
    <h3>こだわり その2　〜手仕事での洗い張り〜</h3>
    <p>
        だるまやの洗い張りは、洗う、伸子張り、布のりを引く、など、ほぼすべて手作業で行っています。<br>
        また、伸子張りをしているときや、湯のし後に反物を巻く時に、しみや生地の傷みなどを確認しておき、仕立てる際にどうすれば最も目立たないかを考えながら作業しています。<br>
        こういった難をやりくりする際に、だるまやで判断できる場合は判断し、お客様の判断が必要な場合はお客様と連絡を取りながら仕事を進めていきます。<br>
        <br>
    </p>
    <h3>こだわり その3　〜お客様の理想の着姿を手助けする採寸〜</h3>
    <p>
        きものの着やすさや着姿にとても影響するのが寸法です。<br>
        だるまやではお客様に採寸用のきものやお客様のきものを実際に着ていただき、お客様の目指す着姿を聞き、寸法を決めています。<br>
        <br>
        例えば、衿がイマイチ抜きづらい、胸元のだぶつきを抑えたい、などのお悩みに応じた寸法を提案いたします。<br>
        <br>
    </p>
    <h3>こだわり その4　〜仕立てはすべて国内手縫い〜</h3>
    <p>
        だるまやの仕立てはすべて国内手縫いです。<br>
        仕立て直しの場合、寸法がご希望どおりにできなかったり、しみがあってどうやりくりするかを考えたりする必要があります。<br>
        一日に何回も仕立て屋さんと電話で話す場合もあるため、国内の仕立て屋さんでないと仕事ができないのです。<br>
        <br>
        また、いずれ仕立て直すことを考えると、やはり手縫いの方が解きやすく、生地にも優しいため手縫いのみを採用しています。<br>
    </p>
</section>

<section>
    <h2>LINEで今すぐお問い合わせ！</h2>
    <p>以下のボタンをクリックして「だるまや京染本店」を友だち追加してください。<br>
        <a href="http://line.naver.jp/ti/p/%40darumaya" target="_blank"><img alt="友だち追加数" border="0" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_ja.png" height="36" /></a>
    </p>
</section>

<section>
    <h2>お母さんの振袖を娘さんの寸法に仕立て直した事例</h2>
    <p>お母さんが着た振袖を娘さんの寸法に仕立て直したいとお持ちになりました。<br>
        お母さんと比べて娘さんの身長が10cm以上高く、手も長いためこのままでは到底着られません。<br>
        振袖自体はかなり良い柄で娘さんも気に入っており、なんとか直して着せたいとのご希望でした。</p>

    <div class="row">
        <div class="col-sm-6 before">
            <h3>仕立て直し前</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-furisode1-P1060743-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-furisode3-P1060757-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
        <div class="col-sm-6 after">
            <h3>仕立て直し後</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-furisode2-P1070195-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-furisode4-P1070201-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
    </div>

    <p>振袖を解いて洗い張りをし、娘さんの寸法に仕立て直しました。<br>
        胴裏も黄色くなっていたため新しくし、伊達衿も付けて仕立てました。<br>
        娘さんにぴったりの寸法になり、とても喜んで成人式に出かけられたそうです。
    </p>
    <h3>振袖の洗い張りから仕立て直しの料金</h3>
    <p>振袖の解き洗い張り仕立て：48,000円<br>
        振袖用胴裏：15,000円<br>
        伊達衿：5,000円<br>
        合計：68,000円<br>
    </p>
</section>

<section>
    <h2>仕立直しでしみを隠した事例</h2>
    <p>前衽の目立つところにしみができてしまいました。<br>
        このしみを落としたいというご要望だったのですが、かなり古いしみのため、しみ抜きをしても落ちそうもありませんでした。<br>
        寸法もお客様に合っていないということだったので、洗い張りから仕立て直しで、しみを見えないところに隠そうと提案しました。<br></p>

    <div class="row">
        <div class="col-sm-6 before">
            <h3>仕立て直し前</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-shimiwokakusu1-DSC03194-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-shimiwokakusu2-DSC03197-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
        <div class="col-sm-6 after">
            <h3>仕立て直し後</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-shimiwokakusu3-DSC03918-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-shimiwokakusu4-DSC03921-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
    </div>

    <p>前衽と下前衽を入れ替えて、身頃を内揚げのところで切り、しみを隠れる位置に入れ替えました。<br>
        この写真では分かりませんが、紋の周りも汚れていたため、左右の身頃も入れ替え、しみを隠しています。<br>
        紋付きにしたいという希望だったので、紋も入れました。<br>
        寸法もお客様の希望に直し、とても喜んでいただけました。</p>
    <h3>無地の洗い張りから仕立て直しの料金</h3>
    <p>無地の解き洗い張り仕立て：26,000円<br>
        身頃を切り入れ替え：3,000円<br>
        紋入れ：7,000円<br>
        胴裏：10,000円<br>
        合計：46,000円<br>
    </p>
</section>

<section>
    <h2>きものと羽織できもの1枚に仕立てた事例</h2>
    <p>お客様がお持ちになったきものと羽織ですが、全体的に小さいため寸法を直したいというご希望でした。<br>
        寸法を測ってみると、確かに小さく、袖などはかなり短く切ってしまっていたため、きものと羽織に直すことはできませんでした。<br>
        そこで、きものと羽織を洗い張りして、一枚のきものを仕立てましょうという提案をしました。<br>
        羽織の身頃からきものの袖を取り、きものの袖を足し布に使うことにしました。</p>

    <div class="row">
        <div class="col-sm-6 before">
            <h3>仕立て直し前</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-ASde1mai1-DSC04545-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-ASde1mai2-DSC04544-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
        <div class="col-sm-6 after">
            <h3>仕立て直し後</h3>
            <div class="thumbnail">
                <img class="img-xs" data-width="375" data-src="/images/s/shitatenaosu-ASde1mai3-DSC05139-{width}{pixel_ratio}.JPG" data-alt="仕立て直し" data-class="img-responsive img-lightbox">
            </div>
        </div>
    </div>

    <p>お客様のご希望の寸法通りのきものが一枚仕上がりました。<br>
        お客様も半ばあきらめていたようですが、生まれ変わったきものを見て大変喜んでいただけました。<br>
    </p>
    <h3>本場大島の羽織ときものできもの1枚に仕立て直しの料金</h3>
    <p>本場大島の羽織の解き洗い張り：7,000円<br>
        本場大島の解き洗い張り：30,000円<br>
        足し布仕立て：5,000円<br>
        胴裏：10,000円<br>
        八掛：10,000円<br>
        合計：62,000円<br>
    </p>
</section>

<section>
    <h2>お客様の声</h2>
    <blockquote>
    <h3>東京都在住　eriganukenai様（40代女性）</h3>
    <p>＜だるまやさんのブログの洗い張りの写真を見て＞</p>
    <p>職人さんがやっているお店なら信用できる。と勝手に思い、寸法の合わない母の着物と古い反物を持参しました。一目で「これは仕立てる価値がある、これは生地が弱いので洗い張りできない、これは裄が出ねえなあ、帯にでもするか？」と商売につながらないかもしれない一見の客の相談にのってくださり、商売っ気ないなあ、面白いオジサンだわ（ごめんなさい）というのが最初の印象でした。汚すのが怖くて着物は結婚式等のハレの日の装いでしたが、今は何かあればだるまやさんが何とかしてくれると勝手に思って、普段に着物を着る機会が増えました。<br />
        今月のおすすめ、を楽しみにしています。買えるわけでもないのですが、その季節ならではの柄ゆきの着物や染め帯の組み合わせがあったらうれしいですね。</p>
    <br>
    </blockquote>
    <blockquote>
    <h3>平塚市在住　匿名希望様（40代女性）</h3>
    <p>いつも大変お世話になっております。<br>
        今年、亡き母を偲ぶ気持ちで、初めて母の着物に袖を通してみました。<br>
        私より10cm身長が低かった母、残念ながらことごとく袖が短くて長着から長襦袢が出てきてしまいました。<br>
        そこで、母の着物一式すべて持って、だるまや京染本店さんを訪れました。<br>
        大旦那さんは、赤い紬の合わせは単にしたら？とか、絞りのコート、これは直しても小さいからいっそ帯にしちゃいなよ、と大胆とも思えるアドバイス<br>
        思い切ってその通りお願いしたら、とっても重宝な着物と帯が出来上がってきました。<br>
        お陰様で、着物を着て出かける機会も増え、お出かけが尚いっそう楽しいものとなりました。<br>
        ありがとうございました。<br>
        これからもよろしくお願いします。<br>
    </p>
    <br>
    </blockquote>
    <blockquote>
    <h3>箱根在住　ふみ様（50代女性）</h3>
    <p>娘の結婚が決まり、絶対に江戸褄を着たくて母の江戸褄に手を通したところシミはあるは小柄な母なので私には全体的に小さすぎて、さあ困ったと思いネットで検索しだるまやさんを発見！<br>
        すぐに着物を持って向かいました。迎えてくださったのはあまちゃんのじぇじぇＴシャツを着たおじさんとちょとイケメンのお兄さん。<br>
        私は着物の事はよくわからないのですが安心してお願いしてきました。<br>
        そして出来上がった江戸褄に大変満足し、おかげさまで無事に先日結婚式を挙げることが出来ました。<br>
        レンタルも考えたのですがやはり母の着物を着れた事は本当に良かったと思いました。<br>
        ありがとうございました。<br>
    </blockquote>
</section>

<section>
    <h2>寸法の測り方</h2>
    <p>だるまやでの寸法を測り方を紹介します。<br>
        きものを美しく着るには、まずは寸法が合っていることが重要です。<br>
        メジャーで測るよりも実際に着て測るのが一番良いです。<br>
        一度でぴったりの寸法を取るのは難しいですが、参考にしてください。<br>
        なんでも良いので、きものを着ていただき、そのきものと理想の寸法との差分を測ります。<br>
        cmで測っても尺で測っても構いません。<br>
    </p>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7">
            {% include carousel.html %}
        </div>
    </div>
</section>

<section>
    <h2>ご依頼方法</h2>
    <p>ご来店いただける方は、仕立て直したいきものや長襦袢をお持ちいただき、着る方ご本人さんもご来店ください。<br>
        ご郵送の場合は、ご希望の依頼内容のメモを同封の上、だるまやまでご郵送ください。届きましたら中身を確認してご連絡いたします。<br>
    </p>
    <h2>お問い合わせはこちら</h2>
    <p>お電話、問い合わせフォーム、メール、LINEなどでお問い合わせを受け付けております。<br>
        詳細は、お問い合わせページをご覧ください。<br>
        <br>
        <a href = "/information/contact.html">お問い合わせページはこちら</a><br>
        <br>
        特に、LINEでのお問い合わせが便利です！<br>
    </p>
    <h3>友だち追加手順</h3>
    <p>以下のボタンをクリックして「だるまや京染本店」を友だち追加してください。<br>
        <a href="http://line.naver.jp/ti/p/%40darumaya" target="_blank"><img alt="友だち追加数" border="0" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_ja.png" height="36" /></a>
    </p>
</section>

<section>
    <h2>仕立て直しにかかる期間</h2>
    <p>仕立てには通常2ヶ月半から3ヶ月ほどいただいています。<br>
        着る予定が決まっている場合は、急ぎで仕立てることもできますので、遠慮無くご相談ください。</p>
</section>

<section>
    <h2>仕立て直しの料金</h2>
    <p>解き、端縫い、洗い張り代を含んだ料金です。<br>
        長襦袢の料金には半衿、居敷当て代が含まれています。<br>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(目安)</th>
            <th>感謝祭料金(目安)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["洗い張りから仕立て"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</section>

<section>
    <h2>コーディネートのご相談もOK！</h2>
    <p>
        いただいたきものを仕立て直した時や、きものを染め直して仕立て直した時など、「さて、このきものにどんな帯を合わせたら良いのだろう？」と思うこともありますよね。<br>
        そういった時にも遠慮なくご相談ください。<br>
        仕立て直したきものにピッタリの帯や小物の合わせ方のご相談にも応じております。<br>
    </p>
</section>

<section>
    <h2>仕立て直しに関するよくある質問</h2>
    <h3>Ｑ．男物の着物と羽織を仕立て直せるか？裄と身丈を長くしたい。</h3>
    <p>Ａ．できる場合が多いです。<br>
        裄が長いお客様で、生地の幅が足りない場合、袖に足し布をすることで対応可能な場合が多いです。<br>
    </p>

    <h3>Ｑ．振袖の仕立て直しを他店に相談したところ、縫い代が少ないので無理と言われました。だるまやさんで見ていただくことは可能でしょうか？</h3>
    <p>Ａ．可能です。<br>
        他店で断られたお客様で、うちで仕立て直しをされた方はたくさんいらっしゃいます。<br>
        もちろん、できない場合もありますが、お気軽にご相談ください。<br>
    </p>

    <h3>Ｑ．きものを羽織に仕立て直すことはできますか？</h3>
    <p>Ａ．できますが、羽織の衿の背中心にハギが入ります。<br>
        羽織の衿はグルッと長いのですが、きものにはそのパーツがないためです。<br>
        また、きものよりも袖巾を長くしないときものの袖が出てしまうため、生地の幅が広くないとできない場合があります。<br>
    </p>

    <h3>Ｑ．振袖の袖を詰めていただくことはできますか？</h3>
    <p>Ａ．できます。<br>
        袖の裾の方にメインの柄が有り、その柄を活かしたい場合は、袖だけ洗い張りをして袖を作りなおす場合もあります。<br>
    </p>
</section>

<section>
    <h2>最後に　〜きものってすごい！〜</h2>
    <p>昔ながらの手作業で洗い張りをする職人が少なくなってしまい、気づけばいろいろな方から見学のご希望や取材などを受けるようになりました。<br>
        洗い張りの作業をご覧いただいた方に「すごい！」と言われることがありますが、だるまやの洗い張りが特別なことをしているわけではありません。<br>
        僕は常に思っているのですが、本当にすごいのは一反の反物からこれほど機能的で美しい服を考えた先人たちの知恵です。<br>
        寸法を変えて仕立て直せるように使わない部分も捨てずに縫い込んでおくこと、見えない部分があることで汚れなどのやりくりがしやすいこと、など、今から考えても同じものは決して創れないと思います。<br>
        こんな素晴らしいきものがこれからも多くの方に愛されるように、日々の仕事に真摯に取り組んで行こうと思っております。<br>
    </p>
</section>